:root {
  --main-color: #202329;
  --pane-padding: 5px 42px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100vw;
  text-align: center;
  font-size: 0.5rem;
  /* font-size: calc(0.90375rem + 0.045vw); */
  background: url(./assets/rock-paper-scissors-today-tease-160317.jpg) no-repeat
    center center/ cover;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px #5d6977;
  }
  40% {
    box-shadow: 0 0 20px #5d6977;
  }
  60% {
    box-shadow: 0 0 20px #5d6977;
  }
  100% {
    box-shadow: 0 0 -10px #5d6977;
  }
}

.gameText {
  margin: 0.2rem;
  padding: 0.3rem;
  padding-top: 1rem;
  border-bottom: 3px solid #007bff;
  border-radius: 2px;
}

#gameContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 1rem;
  padding: 5vw 5vw;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgb(241, 241, 241);
  animation: fadeIn 3s;
  box-shadow: 5px 5px 50px #a0b3c9, -5px -5px 50px #a0b3c9;
  animation: glowing 5000ms infinite;
}

.btnContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  gap: 1rem;
  padding: 0.2rem;
}

.btnContainer > .choiceBtn {
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnContainer > .restartBtn {
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  color: black;
  background-color: #a0b3c9;
  border-color: #a0b3c9;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btnContainer > .choiceBtn:hover {
  cursor: pointer;
  color: black;
  background-color: #a0b3c9;
  border-color: #a0b3c9;
  box-shadow: 0.5px 0.5px 5px #034e9e, -0.5px -0.5px 5px #034e9e;
}

.btnContainer > .restartBtn:hover {
  cursor: pointer;
  color: black;
  background-color: #a0b3c9;
  border-color: #a0b3c9;
  box-shadow: 0.5px 0.5px 5px #034e9e, -0.5px -0.5px 5px #034e9e;
}

@media (min-width: 320px) {
  .gameText {
    font-size: 1.3rem;
    padding-top: 0.5rem;
  }

  #gameContainer {
    margin: 1.5rem 1.5rem;
    padding: 0.5rem 0.5rem;
  }

  .btnContainer {
    width: 70vw;
    margin-top: 0.5rem;
    padding: 0.1rem;
  }

  .btnContainer > .choiceBtn {
    font-size: 1rem;
  }
  .btnContainer > .restartBtn {
    font-size: 1rem;
  }
}

@media (min-width: 480px) {
  body {
    font-size: small;
  }
  #gameContainer {
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    width: 70vw;
  }

  .btnContainer {
    margin-top: 0.5rem;
    padding: 0.1rem;
  }

  .btnContainer > .choiceBtn {
    font-size: 1.5rem;
  }
  .btnContainer > .restartBtn {
    font-size: 1.5rem;
  }
}

@media (min-width: 768px) {
  .gameText {
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
  #gameContainer {
    padding: 1.5rem 1.5rem;
    width: 60vw;
  }

  .btnContainer {
    width: 60vw;
    margin-top: 1rem;
    padding: 0.5rem;
  }

  .btnContainer > .choiceBtn {
    font-size: 1.8rem;
  }
  .btnContainer > .restartBtn {
    font-size: 1.5rem;
  }
}

@media (min-width: 980px) {
  body {
    font-size: medium;
  }
  #gameContainer {
    padding: 1.5rem 1.5rem;
    width: 60vw;
  }

  .btnContainer {
    width: 60vw;
    margin-top: 1rem;
    padding: 0.5rem;
    gap: 2rem;
  }

  .btnContainer > .choiceBtn {
    font-size: 2rem;
  }
  .btnContainer > .restartBtn {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .gameText {
    font-size: 1.6rem;
  }

  #gameContainer {
    padding: 1.5rem 1.5rem;
    width: 50vw;
  }

  .btnContainer {
    width: 60vw;
    margin-top: 1rem;
    padding: 0.5rem;
    gap: 1rem;
  }

  .btnContainer > .choiceBtn {
    font-size: 2rem;
  }
  .btnContainer > .restartBtn {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .gameText {
    font-size: 1.8rem;
  }
  #gameContainer {
    padding: 1.5rem 1.5rem;
    width: 50vw;
  }

  .btnContainer {
    margin-top: 1rem;
    padding: 0.5rem;
    gap: 2rem;
  }

  .btnContainer > .choiceBtn {
    font-size: 2.5rem;
  }
  .btnContainer > .restartBtn {
    font-size: 1.5rem;
  }
}

@media (min-width: 1590px) {
  .gameText {
    font-size: 2rem;
  }

  #gameContainer {
    padding: 1.5rem 1.5rem;
    width: 40vw;
  }

  .btnContainer {
    margin-top: 1rem;
    padding: 0.2rem;
    width: 60vw;
    gap: 1rem;
  }

  .btnContainer > .choiceBtn {
    font-size: 2rem;
  }
  .btnContainer > .restartBtn {
    font-size: 1.5rem;
  }
}
@media (min-width: 1674px) {
  body {
    font-size: large;
  }

  .gameText {
    padding-top: 1rem;
    border-bottom: 3px solid #007bff;
    border-radius: 2px;
  }

  #gameContainer {
    padding: 1.5rem 1.5rem;
    width: 50vw;
  }

  .btnContainer {
    margin-top: 1rem;
    padding: 0.2rem;
    width: 100vw;
    gap: 1rem;
  }

  .btnContainer > .choiceBtn {
    font-size: 2.5rem;
    width: 24vw;
  }
  .btnContainer > .restartBtn {
    font-size: 2rem;
  }
}

@media (min-width: 2100px) {
  #gameContainer {
    width: 40vw;
  }

  .btnContainer {
    width: 90vw;
  }
}
